ul {
    list-style-type: none;
    background: #0176d6;
    padding: 10px;
}

ul li {
    background: #7cbbee;
    margin: 5px;
}

a {
    display: inline-block;
    width: 90px;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-bottom: solid #333333;
    border-right: solid #333333;
    border-left: solid #cccccc;
    
}