/* nav {
    background: #faf3f375;
}

nav a {
    display: inline-block;
    width: 60px;
    text-decoration: none;
    background-color: #eeeeee;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #cccccc;
    border-bottom: solid #333333;
    border-right: solid #333333;
    border-left: solid #cccccc;
    
} */