<div class="container">
  <!-- <div [hidden]="submitted"></div> -->
  <h3>Add Person</h3>
  <form (ngSubmit)="onSubmit()" name="myPerson" [formGroup]="myPerson">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input class="form-control" id="firstName" name="firstName" [formControl]="myPerson.controls['firstName']" />
      
    </div>

    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input class="form-control" id="lastName" name="lastName" [formControl]="myPerson.controls['lastName']" />
        
      </div>

      <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" id="email" name="email" [formControl]="myPerson.controls['email']" />
          
        </div>

    <!-- <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" 
              required
              [(ngModel)]="person.lastName" name="lastName"
              #lastName="ngModel"/>
      
    </div> -->

    <!-- <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" 
                required
                [(ngModel)]="person.email" name="email"
                #email="ngModel"/>
        
      </div>
       -->
      <button type="submit" class="btn btn-success" >Submit</button>  <!-- [disabled]="!personForm.form.valid" -->
      <button type="button" class="btn btn-default">Cancel</button>

      <div>first name: {{myPerson.controls['firstName'].value}}</div>
      <div>last name: {{myPerson.controls['lastName'].value}}</div>
      <div>email: {{myPerson.controls['email'].value}}</div>
  </form>
</div>
<!-- <div style="padding: 15px">
  <div>
      <label >First Name</label>
      <input id="firstName" type="text" />
  </div>
  <div>
      <label >Last Name</label>
      <input id="lastName" type="text" />
  </div>
  <div>
      <label >Email</label>
      <input id="email" type="email" />
  </div> -->
  <!-- <a>Submit</a> -->
  
<!-- </div> -->